* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ff0000;
    overflow-x: hidden;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #dcd7d6;
    border: 10px solid;
    border-color: #CC0000;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}